@font-face { font-family: Vayentha Script; src: url('../fonts/Vayentha Script.otf'); }
@font-face { font-family: Geoma Thin Demo; src: url('../fonts/Geoma Thin Demo.otf'); }
@font-face { font-family: Aqua; src: url('../fonts/Aqua.ttf'); }
@font-face { font-family: Adequate-ExtraLight; src: url('../fonts/Adequate-ExtraLight.ttf'); }




h1 {
  font-family: Vayentha Script;
  font-size: 200px;
  color:#459b03;
  text-align: center;
  padding-top: 100px;
}

h3 {
  font-family: Aqua;
  font-size: 40px;
  color:#ffffff;
  text-align: left;
  padding-left: 20%;
  padding-top: 20px;
}

p {
  padding-left: 20%;
  padding-right: 20%;
  text-align: justify;
  font-family: Adequate-ExtraLight;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  word-wrap: normal;
}

.imgleft {
  display: block;
  float: left;
  padding-left: 20%;
  margin-right: 30px;
  max-height: 150px;
}

.nav {
  font-family: Geoma Thin Demo;
  font-size: 20px;
  color: #a9adad;
  float: right;
}

.row-teal{
  background-color: #459b03;
  height: 300px;
  width: auto;
}

.row-orange{
  background-color: #ffbd91;
  height: 300px;
  width: auto;
}

a {
  color: #7a7676;
}

.center {
  text-align: center;
}

ol {
  font-family: Aqua;
  font-size: 80px;
  color:  #a9adad;
  line-height: 125px;
}
.container-fluid{
  padding: 0px;
}

.parallax1 {
    background-image: url("../img/botanical.jpg");
    height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.col-md-4 {
  font-family: Aqua;
  font-size: 18px;
  line-height: 42px;
  color: #7a7676;
  text-align: left;
  max-width: 500px;
  padding-top: 20px;
}

.row {
  padding-left: 20%;
}

ul {
  list-style-type: none;
}

.footer {
  padding-top: 25px;
  background-color: #ffbd91;
  height: 100px;
}
